In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

In [33]:
df = pd.read_csv('penguins.csv')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   culmen_length_mm   342 non-null    float64
 1   culmen_depth_mm    342 non-null    float64
 2   flipper_length_mm  342 non-null    float64
 3   body_mass_g        342 non-null    float64
 4   sex                335 non-null    object
dtypes: float64(4), object(1)
memory usage: 13.6+ KB

In [52]:
tdf, _ = train_test_split(df, test_size=0.3, random_state=42)
tdf = tdf[["flipper_length_mm", "body_mass_g","culmen_length_mm", "culmen_depth_mm"]]
tdf.head()

     flipper_length_mm  body_mass_g  culmen_length_mm  culmen_depth_mm
31               178.0       3900.0              37.2             18.1
245              215.0       5100.0              46.1             15.1
277              220.0       5000.0              45.5             15.0
165              201.0       4050.0              52.0             18.1
250              222.0       5250.0              47.3             15.3

In [39]:
output = df['sex']

In [ ]:
from sklearn.model_selection import train_test_split
train_df, _ = train_test_split(df, test_size=0.3, random_state=42)
train_df = train_df[["sex", "age", "income", "family_size"]]
train_df.head()

In [43]:
df3 = df2.dropna

In [50]:
model = KMeans(n_clusters=4

SyntaxError: incomplete input (2096784018.py, line 1)

In [47]:
model.cluster_centers_

AttributeError: 'KMeans' object has no attribute 'cluster_centers_'