In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('penguins.csv')

In [5]:
df

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0                39.1             18.7              181.0       3750.0    MALE
1                39.5             17.4              186.0       3800.0  FEMALE
2                40.3             18.0              195.0       3250.0  FEMALE
3                 NaN              NaN                NaN          NaN     NaN
4                36.7             19.3              193.0       3450.0  FEMALE
..                ...              ...                ...          ...     ...
339               NaN              NaN                NaN          NaN     NaN
340              46.8             14.3              215.0       4850.0  FEMALE
341              50.4             15.7              222.0       5750.0    MALE
342              45.2             14.8              212.0       5200.0  FEMALE
343              49.9             16.1              213.0       5400.0    MALE

[344 rows x 5 columns]

In [11]:
df2, _ = train_test_split(df, test_size=0.3, random_state=42)
df2 = df2[["flipper_length_mm", "body_mass_g"]]
df2.head()

     flipper_length_mm  body_mass_g
31               178.0       3900.0
245              215.0       5100.0
277              220.0       5000.0
165              201.0       4050.0
250              222.0       5250.0